---
import { socialNetworks } from '../data/contact.json'
import GitHub from './icons/GitHub.astro'
import LinkedIn from './icons/LinkedIn.astro';

---

	<section class='aboutMe'>

		<div class='profile-img'>
			<img src='./assets/ibai.webp' alt='Foto de Diego Cruz'/>
		</div>

		<article class='aboutMe-container'>

			<div class='aboutMe-title'>
				<h2 class='name'>
          Diego Cruz
				</h2>

				<span class='description'>
          @diegosiac
				</span>
			</div>


			<div class='aboutMe-description'>
				<p>
           Desarrollador web con experiencia en ReactJS y NodeJS.
				</p>
				<p>
          Continuamente estoy realizando proyectos, participando en hackathons y contribuyendo a proyectos,
          lo que me ayuda a ponerme a prueba y mejorar mis conocimientos. Si hay una idea ambiciosa, hay un proyecto por realizar.
				</p>
			</div>

			<div class='aboutMe-icon'>
				<a
					class='button-icon'
					href={socialNetworks.gitHub}
					target='_blank'
					rel='noopener noreferrer'
					title='Ir al perfil de gitHub de Diego Cruz'
					aria-label='Ir al perfil de gitHub de Diego Cruz'
				>
					<GitHub className='icon'/>
					<span>GitHub</span>
				</a>
				<a
					class='button-icon'
					href={socialNetworks.linkedin}
					target='_blank'
					rel='noopener noreferrer'
					title='Ir al Linkedin de Diego Cruz'
					aria-label='Ir al Linkedin de Diego Cruz'
				>
					<LinkedIn className='icon'/>
					<span>LinkedIn</span>
				</a>
			</div>
		</article>
	</section>


<style>
  .aboutMe {
    background: rgb(196,218,221);
background: radial-gradient(circle, rgba(196,218,221,1) 0%, rgba(255,255,255,1) 92%);
    display: flex;
    flex-direction: column;
    padding: 120px 25px;
    color: #000;
  }

  .profile-img {
      background-color: #a593c2;
      margin-bottom: 30px;
  }

  .profile-img {
    position: relative;
    width: max-content;
  }

  .profile-img::after {
    position: absolute;
    content: "</>";
    background-color: #e3d6ca;
    width: 125px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 50px;
    height: 120px;
    border-radius: 10px;
    right: -40px;
    top: -40px;
  }

  .profile-img img {
    width: 310px;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  .aboutMe-title {
    width: max-content;
    margin-bottom: 30px;
  }

  .aboutMe-title .name {
    font-size: 33px;
    letter-spacing: -.1ch;
    margin-bottom: 7px;
    position: relative;
    z-index: 10;
  }

  .aboutMe-title .name::before {
    position: absolute;
    content: "";
    background-color: #ff5f5f8b;
    width: 155px;
    height: 15px;
    border-radius: 2px;
    left: -5px;
    bottom: 2px;
    z-index: -1;
  }

  .aboutMe-title .description {
    font-size: 20px;
    opacity: .6;
  }

  .aboutMe-description {
    max-width: 470px;
    width: 100%;
    margin-bottom: 34px;
    text-wrap: balance;
  }

  .aboutMe-description p{
    margin-bottom: 10px;
  }

  .aboutMe-icon {
    display: flex;
    gap: 20px;
  }

  .button-icon {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #4f838b;
    transition: background-color .2s;
  }

  .button-icon:hover {
    background-color: #6a8d92;
  }

  .aboutMe-icon .icon{
    height: 25px;
  }

  @media (450px < width <= 884px) {
    .aboutMe {
      align-items: center;
    }
  }

  @media (width >= 885px){
    .aboutMe {
      flex-direction: row;
      justify-content: center;
    }

    .aboutMe-container {
      margin-left: 100px;
    }
  }

</style>
