---
import ArrowFrom from './icons/ArrowFrom.astro'
import GitHub from './icons/GitHub.astro'

export interface Props {
  position: 'left' | 'right';
}

const { position = 'left' } = Astro.props

const isPosition = position === 'left' ? 'light' : 'dark'

---

<article class={`card-project ${isPosition}`}>

	<div class={`card-container ${position}`}>
		<div class='card-images'>
			<div class='image-bg image-third'></div>
			<div class='image-bg image-second'></div>
			<img class='image image-first' src='./assets/projectCover/imagen1.png' alt=''>
		</div>

		<div class='card-contend'>

			<h4 class='card-title'>E-commerce(GeekMobile)</h4>
			<div class='card-description'>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque nulla perferendis sint at iure repellat sapiente mollitia nihil! Nobis repellendus accusantium vitae unde dolore! Quibusdam cum ipsum necessitatibus dolor tenetur quis provident mollitia, architecto impedit?
				</p>
			</div>
			<div class='card-skills'>
				<ul class='skills-list'>
					<li>React</li>
					<li>Recux</li>
					<li>Express</li>
					<li>Node</li>
					<li>Node</li>
					<li>Node</li>
				</ul>
			</div>
			<div class='card-links'>
				<a href=''>
					<GitHub className='card-icon gato'/>
				</a>
				<a href=''>
					<ArrowFrom className='card-icon'/>
				</a>
			</div>
		</div>
	</div>
</article>

<style>
  .dark {
    background-color: #eeeeee;
  }

  .light {
    background-color: #fefefe;
  }

  .card-project {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 25px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card-images {
    width: 340px;
    height: 170px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 25px;
  }

  .image {
    width: 300px;
    height: 150px;
    object-fit: cover;
    position: absolute;
  }

  .image-bg {
    width: 300px;
    height: 150px;
    position: absolute;
    background-size: 300px;
    background-repeat: no-repeat;
  }

  .image-second {
    top: -5px;
    left: 20px;
    background-image: url(./assets/projectCover/imagen3.png);
  }

  .image-third {
    left: 5px;
    background-image: url(./assets/projectCover/imagen2.png);
    background-position: -130px 0px;
  }

  .card-contend {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .card-description {
    margin-bottom: 15px;
    text-wrap: balance;
    max-width: 450px;
  }

  .card-skills {
    margin-bottom: 20px;
  }

  .skills-list {
    display: flex;
    gap: 10px;
  }

  .skills-list li {
    list-style: none;
  }

  .card-links {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 10px;
  }

  .card-links a {
    background-color: #6a8d92;
    padding: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s;
    width: 45px;
    height: 45px;
  }

  .card-links a:hover {
    background-color: #4f838b;
  }

  .card-icon {
    height: 25px;
    color: #fff;
  }

  .gato {
    height: 27px;
  }

  @media (width >= 998px) {
    .left {
      flex-direction: row-reverse;
    }

    .right {
      flex-direction: row;
    }

    .card-project {
      /* padding: 0 0; */
    }

    .card-container {
      max-width: 900px;
      gap: 50px;
    }

    .image {
      width: 600px;
      height: 170px;
    }

    .image-bg {
      background-size: 350px;
    }

    .image-second {
      top: -25px;
      left: -20px;
    }

    .image-third {
      top: -5px;
      left: -50px;
    }

    .card-links {
      justify-content: start;
    }
  }

</style>