---
import CardSkill from './CardSkill.astro'
import JavaScript from './icons/JavaScript.astro'
import React from './icons/React.astro'
import MongoDB from './icons/MongoDB.astro'
import Express from './icons/Express.astro'
import Node from './icons/Node.astro'
import Firebase from './icons/Firebase.astro'
import Jest from './icons/Jest.astro'
import Cypress from './icons/Cypress.astro'
import Git from './icons/Git.astro'
import Tailwind from './icons/Tailwind.astro'


---


<section class='skills'>

	<div class='title-container'>
		<h2 class='title'>SKILLS</h2>
	</div>


	<div class='skills-container'>
		<div class='column'>
			<CardSkill text='JavaScript'>
				<JavaScript className='icon'/>
			</CardSkill >
			<CardSkill text='React'>
				<React className='icon' />
			</CardSkill>
		</div>
		<div class='column'>
			<CardSkill text='MongoDB'>
				<MongoDB className='icon'/>
			</CardSkill>
			<CardSkill text='Express'>
				<Express className='icon'/>
			</CardSkill>
			<CardSkill text='Node'>
				<Node className='icon' />
			</CardSkill>
		</div>
		<div class='column'>
			<CardSkill text='FireBase'>
				<Firebase className='icon' />
			</CardSkill>
			<CardSkill text='Jest'>
				<Jest className='icon' />
			</CardSkill>
		</div>
		<div class='column'>
			<CardSkill text='Cypress'>
				<Cypress className='icon'/>
			</CardSkill>
			<CardSkill text='Git'>
				<Git className='icon'/>
			</CardSkill>
			<CardSkill text='Tailwind'>
				<Tailwind className='icon'/>
			</CardSkill>
		</div>
	</div>
</section>

<style>
  .skills {
		background-color: #fff;
		display: flex;
    flex-direction: column;
    align-items: center;
		padding: 80px 0px;
	}

	.title-container {
    margin-bottom: 70px;
		position: relative;
	}

	.title {
		font-size: 650%;
    letter-spacing: -.1ch;
		color: #dadada9c;
	}

	.skills-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(1, 1fr);
		gap: 10px;
		align-items: center;
		z-index: 20;
	}

	.column {
		display: flex;
		flex-direction: column;
		gap: 13px;
	}

	.icon {
    height: 50px;
  }

	@media (width >= 998px){
		.skills {
			flex-direction: row;
			justify-content: center;
		}

		.title-container {
			margin-bottom: 0px;
			margin-right: 450px;
			left: 0px;
			top: -30px;
		}

		.title {
			position: absolute;
			font-size: 320px;
			top: -130px;
			left: -120px;
			user-select: none;
		}
	}
</style>